/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url("normalize.css");

body { background-image: url('/assets/bkgd.gif'); }

#wrapper {
  max-width: 960px;
  margin: 0 auto;
}

header {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

footer {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

h1 { font-weight: normal; }

form {  overflow: hidden; }

form div {
  padding: 5px 0;
  overflow: hidden;
}

form label, input { float: left; }

form label { width: 170px; text-align: right; margin-right: 20px; margin-top: 4px;}

input { border: none; padding: 3px;}



