<h1>Benches</h1>
<% if flash[:notice] %>
  <h2><%= flash[:notice] %></h2>
<% end %>
<ul>
<% @benches.each do |bench| %>
  <li><%= link_to bench.location.try(:name), bench_path(bench) %></li>
<% end %>
</ul>
